#edit-payment-process-offsite-payment-pagarme-whitelabel .commerce-credit-card-expiration {
  position: relative;
}

#edit-payment-process-offsite-payment-pagarme-whitelabel .commerce-credit-card-expiration .form-item-payment-process-offsite-payment-pagarme-whitelabel-credit-card-divider {
  position: absolute;
  left: 59px;
  top: 10px;
}

#edit-payment-process-offsite-payment-pagarme-whitelabel .commerce-credit-card-expiration .form-item-payment-process-offsite-payment-pagarme-whitelabel-credit-card-year-expiration {
  position: absolute;
  top: 5px;
  left: 75px;
}
